* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #e5e5e5;
}
.header {
  background: #fa8c16;
  padding: 16px 0 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-group {
  width: 237px;
  height: 32px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.search-input {
  border: none;
  height: 100%;
  width: 80%;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  border: none;
  background-color: #fff;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.content {
  min-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.posts {
  width: 67%;
}
.post {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
.post-body {
  padding: 35px;
  padding-bottom: 0;
}
.post-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.post-text {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
}
.tags {
  margin-bottom: 22px;
}
.tag {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
}
.post-footer {
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  padding: 13px 35px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-button .icon {
  fill: #8c8c8c;
}
.post-button {
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 29px;
  cursor: pointer;
}
.post-button span {
  padding-left: 5px;
}
.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}
.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
}
.author-username {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
.post-time {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 20px;
}
.sidebar {
  width: 31%;
}
.user {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
}
.user-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.sidebar-nav {
  background-color: #fff;
}
.sidebar-menu {
  margin: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
  list-style: none;
  padding: 0;
}
.sidebar-menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 14px 48px;
  display: inline-block;
  width: 100%;
}
.sidebar-menu-link:hover {
  background-color: #fffbe6;
}
.sidebar-menu-link.active {
  color: #faad14;
  border-right: 3px solid #faad14;
}
.button {
  background: #faad14;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
}
.button-new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.icon-fire {
  width: 11px;
  height: 14px;
  fill: #fff;
  margin-right: 10px;
}
.card {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
.card-header {
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  padding: 23px 25px;
}
.card-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.card-body {
  padding: 22px 40px 16px 25px;
}
.card-body-title {
  margin: 0;
  text-decoration: none;
  color: #d48806;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.card-text {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.promo {
  display: block;
  background: #fff url("../img/promo.jpg") no-repeat center center / cover;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  position: relative;
}
.promo::before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  background: #c4c4c4;
  padding: 0 26px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
